AutoML_결과요약.ipynb
AutoML_모델학습저장.ipynb
DataEDA.ipynb
Final_code_1023.zip
GAN_test.ipynb
Object1_KOLAS_LABdata.zip
requirements.txt
requirements2.txt
데이터_구축_1차.ipynb
데이터_구축_2차.ipynb

dataset/
Full_code/.ipynb_checkpoints/
Full_code/SFT_clas/
Full_code/SFT_clas_ori/
Full_code/SFT_regr/
Full_code/dataset/
Full_code/final_dataset/
Full_code/tmp_dataset/
Full_code/whole_models/
Full_code/input_data_example_of_5rows.csv
Full_code/data_integration.ipynb
Full_code/LAB_data_generator.ipynb
Full_code/MES_CMB_data_generator.ipynb
Full_code/MES_FMB_data_generator.ipynb
Full_code/model_evaluation_same_models.ipynb
Full_code/model_evaluation_vary_models.ipynb
Full_code/model_learning.ipynb
Full_code/model_prediction.ipynb

GAN_study/dataset/
GAN_study/tmp_dataset/
GAN_study/si_dataset/
GAN_study/final_dataset/
GAN_study/Experiment.xlsx

KOLAS 1차/
KOLAS_fin/
Object1_KOLAS_LABdata/
Object1_LABdata/
preprocessing/

Final_code_summary/dataset/
Final_code_summary/SFT_clas/
Final_code_summary/SFT_regr/
Final_code_summary/tmp_dataset/
Final_code_summary/whole_models/SFT_clas/
Final_code_summary/whole_models/SFT_clas_ori/
Final_code_summary/whole_models/SFT_regr/
Final_code_summary/.ipynb_checkpoints/
Final_code_summary/mlops_kafka_exam.py
Final_code_summary/mlops_make_mlflow_model.py
Final_code_summary/mlops_test.py
Final_code_summary/final_dataset/